
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.42857143;
	color: #777777;
}

.panel-body {
	padding: 15px;
}

.submitBtn {
	margin-left: 10px;
}

.booktitle {
	color: #de4f4f;
	text-decoration: none;
}

select {
	border: 1px solid #111;
	text-align: center;
	background: transparent;
	width: 50px;
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
}


.rcorners2 {
	/*border-radius: 25px;*/
	border: 2px solid #777777;
	padding: 20px;
	width: 200px;
	height: 150px;
}
.namestyle{
	color: #bd2323;
}

.right-inner-addon i {
	position: absolute;
	right: 0px;
	padding: 10px 12px;
	pointer-events: none;
}